<html>
  <head>
  <%= stylesheet_link_tag 'bootstrap.min' %>
  <%= stylesheet_link_tag 'fl' %>
  <%= stylesheet_link_tag 'bootstrap-datepicker.min' %>
  <%= stylesheet_link_tag 'bootstrap-tagsinput' %>
  <%= stylesheet_link_tag 'jquery.tagit' %>
  <%= stylesheet_link_tag 'tagit.ui-zendesk' %>
	<%= javascript_include_tag 'jquery' %>
	<%= javascript_include_tag 'jquery-ui' %>
  <%= javascript_include_tag 'bootstrap.min' %>
  <%= javascript_include_tag 'highcharts' %>
  <%= javascript_include_tag 'markerclusterer' %>
  <%= javascript_include_tag 'bootstrap-datepicker.min' %>
  <%= javascript_include_tag 'bootstrap-tagsinput' %>
  <%= javascript_include_tag 'tag-it' %>
  
  </head>
  <body>
    <div class="header">
    test header <br>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </body>
</html>